@import url("https://fonts.googleapis.com/css2?family=Suez+One&display=swap");

:root {
  --color-canvas-main: rgb(30, 30, 30);
  --btn-font: "Suez One";
}
/* ROOT RE-USE */
.flex-center {
  display: flex;
  justify-content: center;
}

/* ARTICLES */
* {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  /* height: 3000px; */
  margin: 0;

  background-color: rgb(47, 47, 47);
  /* z-index: 0; */
}

.container-all {
  display: flex;
}

/* NAV */
.nav {
  position: fixed;
  z-index: 1;
  height: 100px;
  border-bottom: 1px white solid;
  background-color: var(--color-canvas-main);
  width: 100%;
  display: flex;
  /* flex-direction: column; */
}
.nav-login {
}

.login-nav {
  /* background-color: rgb(14, 99, 14); */
  border-right: 1px white solid;
  width: 15%;
  background-color: var(--color-canvas-main);
}

/* aside  */

.aside {
  position: fixed;
  background-color: var(--color-canvas-main);
  height: 100vh;
}
.aside-writer {
  z-index: 99;
  padding: 20px;
  position: fixed;
  right: 0;
  width: 20%;
  min-width: 300px;
  border-left: 1px white solid;
}

.writer-block {
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-container {
  /* margin: auto; */
  position: absolute;
  background-color: var(--color-canvas-main);
  /* display: flex; */
  /* flex-direction: column; */

  margin: auto;
  margin-top: 100px;
  width: 80%;
}
/* Article */

.articles-container {
  margin: auto;
  width: 80%;
}
.article-wrapper {
  /* margin-top: 50px; */
}
.article {
  border-top: rgba(255, 255, 255, 0.767) 1px solid;
  /* border-bottom: rgba(255, 255, 255, 0.767) 1px solid; */
  background-color: orange;
  padding: 20px;
  color: white;
  width: 95%;
  padding-left: 70px;
  padding-right: 100px;
}
.article div {
  display: block;
}
.article-title {
  margin-top: 20px;
  /* margin-bottom: 30px; */
  color: white;
  font-size: 28px;
  font-weight: 800;
  background-color: red;
}
.article-author {
  margin-top: 8px;
  margin-left: 45px;
  margin-bottom: 10px;
}
.padded-indent {
}
/* .article-body::before {
  content: "";
  width: 100px;
  height: 5px;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: white;
} */
.article-body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 100;

  font-size: 20px;
  /* letter-spacing: 1px;
  word-spacing: 2px; */
  line-height: 30px;
}

@media only screen and (max-width: 700px) {
  .main-container {
    width: 100%;
  }
  .aside-writer {
    bottom: 0;
    height: 400px;
    width: 100%;
    border-top: 10px white solid;
  }
}
